/*Layout Structure*/
body,
main {
    display: flex;
}
body {
    flex-direction: column;
}
body main {
    flex-direction: row;
    flex: auto;
}
main article {
    flex: 2;
}
main aside {
    flex: 1;
}
main article,
main aside {
    overflow-y: auto;
}

/*colors and style*/
body main{
    background-color: darkslategrey;
}
aside {
    background-color: blanchedalmond;
}
header {
    background-color: darkkhaki;
}